body {
	background: #2196F3;
	color: #FFFFFF;
}

/*TOP NAV STYLES*/

.navbar {
	background: #2196F3;
	border: none;
}

.navbar-default {
	min-height: 60px;
	color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 60px;
	font-size: 18px;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
	color: #ffffff;
}

.navbar-default .changeTemp {
	cursor: pointer;
}

/* USER LOCATION INFO SYTLES*/

.page-header {
	margin-top: 30px;
}

/*WEATHER ALERT STYLES*/

.btn {
	cursor: default;
}

.weather-alert .btn-warning,
.weather-alert .btn-warning:hover,
.weather-alert .btn-warning:focus,
.weather-alert .btn-warning:active {
	background-color: #FF5722;
	border-color: #FF5722;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 20px;
	margin-top: 10px;
	padding: 12px 21px;
}

/*CURRENT WEATHER STYLES*/

.weather-current .weather-icons {
	font-size: 180px;
	margin-top: 25px;
}

.weather-current .current-temp {
	font-size: 180px;
	margin-top: 25px;
}

.weather-current .current-temp .fer-celc {
	font-size: 40px;
	vertical-align: super;
	top: -35px;
}

.weather-day .highs-lows {
	font-size: 50px;
}


/* BOTTOM NAV STYLES */

.navbar-default .nav-tabs>li>a {
	color: #FFF;
}

.navbar-default .nav-tabs>li>a:focus, 
.navbar-default .nav-tabs>li>a:hover {
	color: #ffffff;
}

.nav-tabs {
	border-top: 1px solid #ddd;
	border-bottom: none;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav>li>a:focus, 
.nav>li>a:hover {
    text-decoration: none;
    background-color: #1976D2;
    border-color: #1976D2;
}

.forecast-type {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 20px;
}

.forecast-type>.forecast>.nav {
	display: inline-block;
}

/*CUSTOM FIVE COLUMN*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


/*FIVE DAY FORECAST STYLES*/

.weather-day {
	margin-top: 50px;
	margin-bottom: 20px;
	max-height: 373px;
}

.weather-icons-day {
	font-size: 150px;
}

.weather-day .temps {
	font-size: 50px;
}

/*MEDIA STYLES */

@media only screen and (max-width: 750px) {
	.weather-current .weather-icons {
		font-size: 100px;
	}
	.weather-current .current-temp {
		font-size: 100px;
	}
	.weather-current .current-temp .fer-celc {
		font-size: 25px;
		vertical-align: super;
		top: -20px;
	}
}

@media (min-width: 768px) {
	.forecast-type>.forecast>.navbar-nav {
		float: none;
	}
}